body{
    background-color: rgb(25,25,25) ;
    color: white;
    font-family: Arial;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.move-icon{
    height: 50px;
}

.move-button{
    background-color: transparent;
    border: 3px solid white;
    width : 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;

}

.score{
    margin-top: 60px;
    margin-bottom: 40px;
    width: 250px;
    border:3px solid white;
    padding: 10px;
    justify-content: center;
}

.reset-score-button{
    background-color:  rgb(25,25,25);
    color: white;
    border:3px solid white ;
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
}